set keymap vi-command
"diw": "lbde"

set keymap vi-command
"ciw": "lbce"

set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"

set completion-ignore-case on
set show-all-if-ambiguous On
